mainmenu "STM32 configuration"

menu "General Options"
config SYSCLK_MHZ
    int "System clock frequency (MHz)"
    default 16
endmenu


menu "Select drivers"
source "lib/drivers/*/Kconfig"
endmenu


choice
    prompt "Select test"
    default TEST_BLINK

source "tests/*/Kconfig"
endchoice
